<style>
    .navbar-nav{
        font-family: monospace;
        font-size: 15px;
    }
    </style>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid justify-content-center">
            <div>
                <div class="navbar-nav">
                    <a class="nav-link" href=>Acerca de</a>
                    <a class="nav-link" href=>Pago de Recibo</a>
                    <a class="nav-link" href=>Contactos</a>
                </div>
            </div>
        </div>
    </nav>