<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio la Patria</title>
</head>
<body>

    <style>
         body,
        html {
          width: 100%;
          margin: 0;
          padding: 0;
        }

        .main{
            padding: 20px;
            background-color: #0077B6;
    
            
        }
        .formulario{
          font-family: monospace;  
          font-size: 15px;
          background-color: whitesmoke;
          width: min(600px, 90%);
          border: 1px solid #000;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);;
          padding: 2rem;
          border-radius: 10px;
          margin: 2rem auto;
          padding-bottom: 2rem;
        }
        input{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0.5rem auto; 
        }
        select{
            margin: 10px;
            width: 300px;
        }
        #calcularBtn{
          background-color: #0077B6;  
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 2rem;
        }

        #limpiarBtn{
          background-color: #0077B6;  
          color: white;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 2rem;
       }

        .resultados{
          font-family: monospace;  
          font-size: 15px;
          background-color: rgb(74, 165, 195);
          width: min(600px, 90%);
          border: 1px solid #000;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);;
          padding: 2rem;
          border-radius: 10px;
          margin: 2rem auto;
          padding-bottom: 2rem;
        }
    </style>    
    
<%-include('partials/header.ejs')%>

<%-include('partials/nav.ejs')%>

<div class="main">

    <div class="formulario">

        <form id="docentes" action="/" method="post">
            <label for="">Num. de Docente:</label> <br>
            <input type="number" name="NDocente" id="NDocente" required value="<%=NDocente%>"> <br>
            <label for="">Nombre:</label> <br>
            <input type="text" name="Nombre" id="Nombre" required value="<%=Nombre%>"> <br>
            <label for="">Domicilio:</label> <br>
            <input type="text" name="Domicilio" id="Domicilio" required value="<%=Domicilio%>"> <br>
            <label for="">Nivel:</label> <br>
            <select name="Nivel" id="Nivel" value="<%=Nivel%>">
                <option value="1">Licenciatura o Ingeniería</option>
                <option value="2">Maestro en Ciencias</option>
                <option value="3">Doctor</option>
            </select>
            <br>
            <label for="">Pago Hora Base:</label><br>
            <input type="text" name="PHB" id="PHB" required value="<%=PHB%>"> <br>
            <label for="">Horas impartidas:</label><br>
            <input type="text" name="Horas" id="Horas" required value="<%=Horas%>"> <br>
            <label for="">Hijos:</label><br>
            <select name="Hijos" id="Hijos" value="<%=Hijos%>">
                <option value="0">Seleccione el Numero de hijos</option>
                <option value="1">1 o 2</option>
                <option value="2">3 o 5</option>
                <option value="3">Mas de 5</option>
            </select><br>
        
        
            <button id="calcularBtn" class="btn btn-primary mt-3" type="submit">Calcular</button>
            <button id="limpiarBtn" class="btn btn-clear limpiar-btn" type="button" onclick="limpiarFormulario()">Limpiar</button>
        </form>
        

</div>

</div>
<%
let Pago = 0.00;

if(Nivel == 1){
    Pago = PHB*1.3;
    Pago = Pago * Horas;
}
else if(Nivel == 2){
    Pago = PHB*1.5;
    Pago = Pago * Horas;
}
else if(Nivel == 3){
    Pago = PHB*2;
    Pago = Pago * Horas;
}

let Impuesto = Pago * 0.16;

let Bono = 0.00
if(Hijos <= 2){
    Bono = Pago * 0.05;
}
else if(Hijos <= 5){
    Bono = Pago * 0.1;
}
else if(Hijos > 5){
    Bono = Pago * 0.2;
}
else if(Hijos == 0){
    Bono = 0;
}

let total = Pago + Bono - Impuesto;

%>

    <div class="resultados">
    <h2>Detalles del pago</h2>
    <h4 id="pagoHoras">Pago por horas impartidas: $<%=Pago%></h1>
    <h4 id="pagoBono">Pago por Bono: $<%=Bono%></h4>
    <h4 id="impuestos">Impuestos: $<%=Impuesto%></h4>
    <h4 id="totalPagar">Total a pagar: $<%=total%></h4>
    </div>
<%
%>
<%-include('partials/footer.ejs')%>


</body>
<script>
    function limpiarFormulario() {
  document.getElementById("NDocente").value = "";
  document.getElementById("Nombre").value = "";
  document.getElementById("Domicilio").value = "";
  document.getElementById("Nivel").selectedIndex = 0; 
  document.getElementById("PHB").value = "";
  document.getElementById("Horas").value = "";
  document.getElementById("Hijos").selectedIndex = 0;
  document.getElementById("pagoHoras").textContent = "Pago por horas impartidas: $0.00";
  document.getElementById("pagoBono").textContent = "Pago por Bono: $0.00";
  document.getElementById("impuestos").textContent = "Impuestos: $0.00";
  document.getElementById("totalPagar").textContent = "Total a pagar: $0.00";
    }
  </script>
</html>
